<h2>Write a comment</h2>

<form action="<%= comments_url %>" method="POST">

	<input type="hidden" 
         name="authenticity_token" 
         value="<%=form_authenticity_token%>">

	<label>Body
		<input name='comment[body]'>
	</label>

	<input type="hidden" name='comment[post_id]' value='<%= @comment.post_id %>'>

	<input type="hidden" 
				 name='comment[parent_comment_id]' 
				 value='<%= @comment.parent_comment_id %>'>

	<input type='Submit' value='Create comment'>
</form>
